<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Order Food</title>
</head>

<body>
    <div style="width: 50%; margin-left: 25%;">
        <h4>The Oota Company:</h4>
        <b>Meal:</b>Lunch and dinner<br>
        <b>Price:</b>Rs. 250 per meal for a 10-day plan, Rs 295 per meal for a five-day plan and Rs 300 for a single
        meal
        <br><b>Delivery:</b>Across the city using services like Dunzo <br>
        <b>WhatsApp:</b>09448302628<br>
        <button type="button" class="btn btn-success" onclick=window.location.href='https://api.whatsapp.com/send?phone=919448302628'>Order Now</button>
        <br>

        <br>
        <h4>Slurp Studio:</h4>
        <b>Meal:</b>Lunch and dinner<br>
        <b>Price:</b>Rs. 150 per meal
        <br><b>Delivery:</b>Covering a delivery radius of 10-15km from their kitchen in Indiranagar up to areas like
        Whitefield<br>
        <b>WhatsApp:</b>099016580506 <br>
        <button type="button" class="btn btn-success" onclick=window.location.href='https://api.whatsapp.com/send?phone=9199016580506'>Order Now</button>
        <br>

        <br>
        <h4>Swaad Caterers:</h4>
        <b>Meal:</b>Breakfast, Lunch and dinner<br>
        <b>Price:</b>Rs. 499 for three meals a day.
        <br><b>Delivery:</b>They are undertaking deliveries around a 5km radius from their kitchen (preferably south
        Bengaluru). Beyond that, services like Dunzo are being used<br>
        <b>WhatsApp:</b>09731794455 <br>
        <button type="button" class="btn btn-success" onclick=window.location.href='https://api.whatsapp.com/send?phone=919731794455'>Order Now</button>
        <br>

        <br>
        <h4>Sneha Vachhaney:</h4>
        <b>Meal:</b>Lunch and dinner<br>
        <b>Price:</b>Free
        <br><b>Delivery:</b>All over the city, using services like Dunzo or Swiggy Genie<br>
        <b>WhatsApp:</b>08884442726 <br>
        <button type="button" class="btn btn-success" onclick=window.location.href='https://api.whatsapp.com/send?phone=918884442726'>Order Now</button>
        <br>

        <br>
        <h4>Green Theory:</h4>
        <b>Meal:</b>Lunch and dinner<br>
        <b>Price:</b>Free
        <br><b>Delivery:</b>Across CBD and ideally within a 5-6km radius of the café. If you’re beyond this, they can
        help arrange delivery through a network of volunteers<br>
        <b>WhatsApp:</b>08861726457 <br>
        <button type="button" class="btn btn-success" onclick=window.location.href='https://api.whatsapp.com/send?phone=918861726457'>Order Now</button>
        <br>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
